instructions/labs/lab-8/flows.json
[{"id":"33d61a1a.4422d6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"514888cf.7b7ca8","type":"mqtt in","z":"33d61a1a.4422d6","name":"A507/sensors/temperature/toperkov","topic":"A507/sensors/#","qos":"1","datatype":"auto","broker":"eec3ea13.986fb8","x":280,"y":140,"wires":[["ccf08f5d.0f691","aac06ce0.558d9"]]},{"id":"ccf08f5d.0f691","type":"debug","z":"33d61a1a.4422d6","name":"A507/sensors/temperature/toperkov","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":100,"wires":[]},{"id":"301fbc3d.778904","type":"function","z":"33d61a1a.4422d6","name":"format data - temperature","func":"msg.payload = Number(msg.payload.temperature);\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":194,"wires":[["138e8513.8ea28b","567594ab.d7f05c"]]},{"id":"aac06ce0.558d9","type":"json","z":"33d61a1a.4422d6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["301fbc3d.778904","e7b7f431.0f8048"]]},{"id":"138e8513.8ea28b","type":"debug","z":"33d61a1a.4422d6","name":"json debug","active":true,"tosidebar":true,"console":false,"complete":"payload","x":890,"y":100,"wires":[]},{"id":"a56ece38.9b88","type":"comment","z":"33d61a1a.4422d6","name":"Weather Station MQTT Flow","info":"","x":263,"y":99,"wires":[]},{"id":"567594ab.d7f05c","type":"influxdb out","z":"33d61a1a.4422d6","influxdb":"1d0bb80e.6d2c78","name":"temp","measurement":"temperature","precision":"","retentionPolicy":"","x":890,"y":180,"wires":[]},{"id":"e7b7f431.0f8048","type":"function","z":"33d61a1a.4422d6","name":"format data - humidity","func":"msg.payload = Number(msg.payload.humidity);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["ee5cddcc.43b64","f94644bd.9982c8"]]},{"id":"ee5cddcc.43b64","type":"influxdb out","z":"33d61a1a.4422d6","influxdb":"1d0bb80e.6d2c78","name":"humidity","measurement":"humidity","precision":"","retentionPolicy":"","x":900,"y":260,"wires":[]},{"id":"f94644bd.9982c8","type":"debug","z":"33d61a1a.4422d6","name":"json debug","active":true,"tosidebar":true,"console":false,"complete":"payload","x":890,"y":340,"wires":[]},{"id":"eec3ea13.986fb8","type":"mqtt-broker","z":"","name":"mqtt.eclipse.org","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1d0bb80e.6d2c78","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"db0","name":"","usetls":false,"tls":""}]