instructions/labs/lab-9/flows.json
[{"id":"1b30c830.033c58","type":"debug","z":"155020e6.75a97f","name":"A507/sensors/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":100,"wires":[]},{"id":"d9ed7f51.54be5","type":"function","z":"155020e6.75a97f","name":"format data - temperature","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["feea98d1.6594a8","4484a427.fe724c"]]},{"id":"feea98d1.6594a8","type":"debug","z":"155020e6.75a97f","name":"json debug","active":true,"tosidebar":true,"console":false,"complete":"payload","x":930,"y":80,"wires":[]},{"id":"a9cf6c31.76af6","type":"comment","z":"155020e6.75a97f","name":"Weather Station MQTT Flow","info":"","x":263,"y":99,"wires":[]},{"id":"4484a427.fe724c","type":"influxdb out","z":"155020e6.75a97f","influxdb":"66f522d2.863a4c","name":"temp","measurement":"temperature","precision":"","retentionPolicy":"","x":910,"y":160,"wires":[]},{"id":"a7614694.ae8f18","type":"function","z":"155020e6.75a97f","name":"format data - humidity","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["9ad622f2.cc8d1","ee1291a7.5dc3e"]]},{"id":"9ad622f2.cc8d1","type":"influxdb out","z":"155020e6.75a97f","influxdb":"66f522d2.863a4c","name":"lux","measurement":"lux","precision":"","retentionPolicy":"","x":910,"y":240,"wires":[]},{"id":"ee1291a7.5dc3e","type":"debug","z":"155020e6.75a97f","name":"json debug","active":true,"tosidebar":true,"console":false,"complete":"payload","x":910,"y":320,"wires":[]},{"id":"a7cb8147.3575e","type":"mqtt in","z":"155020e6.75a97f","name":"A507/sensors/toperkov/temperature","topic":"A507/sensors/toperkov/temperature","qos":"1","datatype":"auto","broker":"1b539289.9633cd","x":280,"y":160,"wires":[["1b30c830.033c58","d9ed7f51.54be5"]]},{"id":"19271d61.61d6f3","type":"mqtt in","z":"155020e6.75a97f","name":"A507/sensors/toperkov/lux","topic":"A507/sensors/toperkov/lux","qos":"1","datatype":"auto","broker":"1b539289.9633cd","x":250,"y":240,"wires":[["a7614694.ae8f18","1b30c830.033c58"]]},{"id":"66f522d2.863a4c","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"db0","name":"","usetls":false,"tls":""},{"id":"1b539289.9633cd","type":"mqtt-broker","z":"","name":"mqtt.eclipse.org","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]